<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="copyright text-muted small">Copyright &copy; {{ .Site.Params.copyright }} All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
<!--
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="{{ .Site.Params.home }}#intro">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="{{ .Site.Params.home }}#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="{{.Site.BaseURL }}">Blog</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="{{ .Site.Params.home }}#services">Services</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ .Site.Params.copyright }} All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
-->
{{ partial "js.html" . }}
</body>
</html>
